<header class="py-6 fixed w-full bg-color z-10 header-scroll">
    <nav class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">Christopher Concepcion</h1>
        <ul class="flex space-x-6">
            <li><a href="#about" class="hover:text-accent-color transition-colors"><span class="link-text">About</span></a></li>
            <li><a href="#projects" class="hover:text-accent-color transition-colors"><span class="link-text">Projects</span></a></li>
            <li><a href="#contact" class="hover:text-accent-color transition-colors"><span class="link-text">Contact</span></a></li>
            <li><a href="https://www.linkedin.com/in/your-linkedin" target="_blank" rel="noopener noreferrer" class="hover:text-accent-color transition-colors"><span class="link-text">LinkedIn</span></a></li>
            <li><a href="https://github.com/chrispychips12" target="_blank" rel="noopener noreferrer" class="hover:text-accent-color transition-colors"><span class="link-text">GitHub</span></a></li>
        </ul>
    </nav>
</header>
