<header class="py-6 fixed w-full bg-color z-10 header-scroll">
    <nav class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
        <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-6">
            <li><a href="#about" class="hover:text-accent-color transition-colors"><span class="link-text">About</span></a></li>
            <li><a href="#projects" class="hover:text-accent-color transition-colors"><span class="link-text">Projects</span></a></li>
            <li><a href="#contact" class="hover:text-accent-color transition-colors"><span class="link-text">Contact</span></a></li>
            <li><a href="https://www.linkedin.com/in/christopher-concepcion" target="_blank" rel="noopener noreferrer" class="hover:text-accent-color transition-colors"><span class="link-text">LinkedIn</span></a></li>
            <li><a href="https://github.com/chrispychips12" target="_blank" rel="noopener noreferrer" class="hover:text-accent-color transition-colors"><span class="link-text">GitHub</span></a></li>
        </ul>
    </nav>
</header>