:root {
    --Main: #f0ece2;
    --Primary: #dfd3c3;
    --Secondary: #c7b198;
    --Content: #596e79;
    --DarkMain: #121212;
    --DarkPrimary: #1e1e1e;
    --DarkSecondary: #272727;
    --DarkContent: #e0e0e0;
    --DarkAccent: #3a3a3a;
}

header {
    justify-content: space-between;
    color: var(--Main);
    font-size: 100px;
    letter-spacing: 15px;
    transition: color 0.5s, background-color 0.5s;
}

body {
    color: var(--Main);
    background: linear-gradient(to bottom, #c7b198, #596e79, #c7b198);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background: linear-gradient(to bottom, #333, #666, #333);
    color: var(--DarkContent);
}

header.dark-mode {
    color: var(--DarkContent);
}

button {
    background-color: transparent;
    border: 2px solid var(--Main);
    border-radius: 5px;
    color: var(--Main);
    padding: 10px 20px;
    font-size: 20px;
    cursor: crosshair;
    transition: background-color 0.3s, color 0.3s, border-color 0.5s;
    letter-spacing: 1px;
    width: 200px;
    margin: 5px;
}

button.dark-mode {
    border: 2px solid var(--DarkContent);
    color: var(--DarkContent);
}

a {
    color: var(--Main);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: crosshair;
    font-size: 16px;
    letter-spacing: 3px;
}

a.dark-mode {
    color: var(--DarkContent);
}

a:hover {
    text-decoration: underline;
    background-color: transparent;
}

nav {
    text-align: center;
    padding: 10px;
    color: var(--Main);
    word-spacing: 50px;
    transition: color 0.5s, background-color 0.5s;
}

nav.dark-mode {
    color: var(--DarkContent);
}

p {
    color: var(--Main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: inline-block;
    transition: color 0.5s;
}

p.dark-mode {
    color: var(--DarkContent);
}

main {
    margin-top: 2%;
    letter-spacing: 2px;
    transition: background-color 0.5s, color 0.5s;
}

main img {
    width: 30%;
    height: auto;
    clip-path: circle(14vw);
    opacity: 75%;
    transition: opacity 0.3s;
}

main img:hover {
    color: white;
    opacity: 100%;
}

#project-section {
    padding: 10px;
    gap: 20px;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: background-color 0.5s, color 0.5s;
}

.featured-project {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--Secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.5s, border-color 0.5s;
}

.featured-project.dark-mode {
    border: 1px solid var(--DarkSecondary);
}

.card {
    border: 1px solid var(--Secondary);
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    transition: background-color 0.5s, border-color 0.5s;
}

.card.dark-mode {
    border: 1px solid var(--DarkSecondary);
}

.card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s, width 0.5s;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: white;
}

.card h3.dark-mode {
    color: white;
}

.card a {
    margin: 5px 0;
    color: white;
}

.card a.dark-mode {
    color: white;
}

.card a:hover {
    text-decoration: underline;
}

.card img:hover {
    opacity: 0.8;
}

#contact {
    color: var(--Main);
    transition: color 0.5s;
}

#contact.dark-mode {
    color: var(--DarkContent);
}

input, textarea {
    background-color: var(--Main);
    border-radius: 5px;
    border-width: 1px;
    margin: 10px 0;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

input.dark-mode, textarea.dark-mode {
    background-color: var(--DarkPrimary);
    border: 1px solid var(--DarkContent);
    color: var(--DarkContent);
}

footer {
    padding: 100px;
    color: var(--Main);
    transition: background-color 0.5s, color 0.5s;
}

footer.dark-mode {
    color: var(--DarkContent);
}

h3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#play-game {
    margin-top: 5px;
}

@media screen and (max-width: 1200px) {
    header h1 {
        font-size: 12vw;
    }

    button {
        font-size: 2.5vw;
        padding: 1.5vw 4vw;
    }

    .card img {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    header {
        color: var(--Content);
    }

    p {
        color: var(--Secondary);
    }

    main {
        color: var(--Secondary);
    }

    h2 {
        font-size: 5vw;
        color: var(--Secondary);
    }

    .card img {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 5vw;
        color: var(--Main);
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
        color: var(--Main);
    }

    p {
        color: var(--Main);
    }

    h2 {
        color: var(--Main);
    }

    .card img {
        width: 60%;
    }

    h3 {
        flex-direction: column;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 4vw;
    }
}
