:root {
    --Main: #f0ece2; 
    --Primary: #dfd3c3;
    --Secondary: #c7b198;
    --Content: #596e79;
}

header {
    text-align: center;
    color: var(--Main);
}

body {
    color: var(--Main);
    background: linear-gradient(to bottom, #c7b198, #596e79, #c7b198);
    font-family: 'Montseratt', sans-serif;
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px;
    color: var(--Main);
}

p {
    color: var(--Main)

}

footer {
    padding: 100px;
}

@media screen and (max-width:900px) {
    header {
        color: var(--Secondary)
    }
    p {
        color: var(--Secondary)
    }
    main {
        color: var(--Secondary)
    }
    
}